<ul class="nav">
  <li class="nav-item">
    <a
      class="nav-link active"
      [routerLink]="['/events']"
      routerLinkActiveOptions="{exact:true}"
      >All Events</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/events/new']" routerLinkActive="active"
      >Create Event</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['user/profile']">Welcome Kim</a>
  </li>
</ul>
